<%- include('../layouts/user/userhead') %> <%-
include('../layouts/user/userheader') %>

<style>
  .gradient-custom {
    background: #cd9cf2;

    background: -webkit-linear-gradient(
      to top left,
      rgba(205, 156, 242, 1),
      rgba(246, 243, 255, 1)
    );

    background: linear-gradient(
      to top left,
      rgba(205, 156, 242, 1),
      rgba(246, 243, 255, 1)
    );
  }

  .table thead th {
    border-bottom: 2px solid #ddd;
  }

  .table tbody tr {
    border-bottom: 1px solid #ddd;
  }

  .table tbody tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
  }

  .badge {
    padding: 5px 10px;
    font-size: 0.95rem;
  }
  .bg-success {
    background-color: #28a745 !important;
  }

  .bg-danger {
    background-color: #dc3545 !important;
  }

  .input-group-text {
    width: 30px;
    font-size: 1.5rem;
    background-color: #00356e;
    color: white;
    text-align: center;
  }

  .form-control-wallet {
    border-radius: 7;
    height: 45px;
    font-size: 1.5rem;
  }

  .button1 {
    background-color: #00356e;
    color: white;
    border-radius: 7px;
    height: 45px;
    width: 105px;
    font-size: 1.5rem;
    border: none;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  .button1:hover {
    background-color: #00509e;
    color: #f0f0f0;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  .input-group {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
</style>

<section class="h-100 gradient-custom">
  <div class="py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-10 col-xl-8">
        <div class="card" style="border-radius: 10px">
          <div class="card-header px-4 py-5 d-flex justify-content-between">
            <h2 class="mb-0 fw-bold">Your Wallet</h2>
            <h3 class="d-flex align-items-center mb-0 fw-bold">
              Wallet Balance:
              <span class="mb-0 ms-2">₹ <%= userData.wallet.toFixed(1) %></span>
            </h3>
          </div>

          <div
            class="row align-items-center mb-4 d-flex justify-content-center pb-5 mt-5"
          >
            <div class="col-md-4">
              <div class="input-group">
                <span class="input-group-text">₹</span>
                <input
                  type="number"
                  class="form-control form-control-wallet"
                  id="add_money"
                  placeholder="Enter amount"
                />
              </div>
            </div>
            <div class="col-md-2">
              <button type="button" class="button1" id="add_money_btn">
                Add Money
              </button>
            </div>
          </div>

          <div class="card-body p-4">
            <div class="container">
              <section class="custom-section">
                <div class="container">
                  <h2 class="text-center mb-5">Wallet Transactions</h2>
                  <div class="table-responsive">
                    <table
                      class="table custom-table table-hover table-borderless"
                    >
                      <thead class="thead-dark">
                        <tr>
                          <th>Date</th>
                          <th>Amount</th>
                          <th>Reason</th>
                          <th class="text-center">Transaction Type</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% userData.wallet_history.forEach(element => { %>
                        <tr>
                          <td>
                            <script>
                              document.write(
                                new Date(
                                  "<%= element.date %>"
                                ).toLocaleDateString("en-GB")
                              );
                            </script>
                          </td>
                          <td>
                            ₹ <%= parseFloat(element.amount).toFixed(1) %>
                          </td>
                          <td><%= element.description %></td>
                          <td class="text-center">
                            <% if (element.transactionType === 'credited') { %>
                            <span class="credit">
                              <span class="badge bg-success">Credit</span>
                            </span>
                            <% } else if(element.transactionType == 'debited') {
                            %>
                            <span class="badge bg-danger">Debit</span>
                            <% } %>
                          </td>
                        </tr>
                        <% }) %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </div>
        <div
          class="card-footer border-0 px-4 py-5"
          style="
            background-color: #a8729a;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
          "
        >
          <h3 class="text-white text-center">
            Thank you for using our wallet services!
          </h3>
        </div>
      </div>
    </div>
  </div>
</section>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
  document
    .getElementById("add_money_btn")
    .addEventListener("click", async function () {
      let add_money_amount = document.getElementById("add_money").value;
      if (add_money_amount == "" || add_money_amount <= 0) {
        return Swal.fire({
          icon: "error",
          title: "Oops...",
          text: "Please enter valid amount",
          footer: '<a href="">Why do I have this issue?</a>',
        });
      }
      let response = await fetch("/user/addMoney", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({
          amount: add_money_amount,
        }),
      });

      let data = await response.json();

      if (data.status) {
        let options = {
          key: data.key,
          amount: data.amount,
          currency: "INR",
          name: "Time Point",
          description: "Add Money",
          order_id: data.order_id,
          handler: async function (response) {
            const verifyResponse = await fetch("/verifyaddMoney", {
              method: "POST",
              headers: {
                "Content-Type": "application/json",
              },
              body: JSON.stringify({
                payment_id: response.razorpay_payment_id,
                order_id: response.razorpay_order_id,
                signature: response.razorpay_signature,
                amount: add_money_amount,
              }),
            });

            const verifyData = await verifyResponse.json();

            if (verifyData.status) {
              Swal.fire({
                icon: "success",
                title: "Money Added",
                text: "Your money has been added successfully",
                confirmButtonText: "OK",
                timer: 2000,
                willClose: () => {
                  window.location.reload();
                },
              });
            } else {
              Swal.fire({
                icon: "error",
                title: "Oops...",
                text: "Something went wrong!",
                confirmButtonText: "OK",
                timer: 2000,
                willClose: () => {
                  window.location.reload();
                },
              });
            }
          },
          theme: {
            color: "#3399cc",
          },
        };

        var rzp1 = new Razorpay(options);
        rzp1.open();
      }
    });
</script>

<%- include('../layouts/user/userfooter') %> <%-
include('../layouts/user/userfoot') %>
